<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.hld.mapper.LinksMapper">

    <resultMap type="team.hld.entity.Links" id="LinksMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="toLink" column="to_link" jdbcType="VARCHAR"/>
        <result property="imageLink" column="image_link" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="retain1" column="retain1" jdbcType="VARCHAR"/>
        <result property="retain2" column="retain2" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>